# Build dockerfile on change
name: Build Docker (env/qtl2.Dockerfile)

on:
  push:
    paths:
    - 'env/qtl2.Dockerfile'
    - 'env/qtl2.yml'
    - '.github/workflows/build_docker.yml'
  pull_request:
    paths:
    - 'env/qtl2.Dockerfile'
    - 'env/qtl2.yml'
    - '.github/workflows/build_docker.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout

    # Build Tools
    - name: Build and Publish
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: sjwidmay/qtl2
        tag: "${{ steps.current-time.formattedTime }}"
        username: ${{ secrets.SJW_DOCKER_USER }}
        password: ${{ secrets.SJW_DOCKER_PASS }}
        snapshot: true
        dockerfile: qtl2.Dockerfile
        workdir: "env"
        tags: "latest"
        cache: true